body{
    background-image: url("giphy-4.gif");
    background-size: cover;
    background-color: darkblue;
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
}
pre{
    background-color: white;
    color: darkblue;
}

button{
    font-family: 'Goldman', cursive;
    color: darkblue;
}

p{
    background-color: white;
    color: darkblue;
}

#badboy{
    width:350px;
    position: absolute;
    top: 4%;
    left: 5%;
}

#div1{
    font-family: 'Goldman', cursive;
    color:darkblue;
    position: absolute;
    top: 4%;
    left: 440px;
    width: 350px;
}
#talkbutton{
    display: none;
}

#bottle{
    position: absolute;
    top: 10%;
    left:900px;
    width: fit-content;
}
#beer{
    position: absolute;
    top: 30%;
    left:1050px;
    width: fit-content;
}
#wine{
    position: absolute;
    top: 57%;
    left:900px;
    width: fit-content;
}

   
   


/*@media only screen and (max-width: 300px) {
   #badboy{
       position: absolute;
       top: 5%;
   }
   #div1{
       display: none;
       position: relative;
       left: 5%;
   }
   #talkbutton{
    font-family: 'Goldman', cursive;
    color: darkblue;
    display: block;
   }
  }



