body{
    background-image: url("silversparkle.gif");
    background-repeat: repeat;
    background-color: darkblue;
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
}
pre{
    background-color: white;
    color: darkblue;
}

button{
    font-family: 'Goldman', cursive;
    color: darkblue;
}

p{
    background-color: white;
    color: darkblue;
}

#badboy{
    width:350px;
    position: absolute;
    top: 4%;
    left: 5%;
}

#div1{
    font-family: 'Goldman', cursive;
    color:darkblue;
    position: absolute;
    top: 4%;
    left: 440px;
    width: 350px;
}
#talkbutton{
    display: none;
}


   
   


@media only screen and (max-width: 600px) {
   #badboy{
       position: absolute;
       top: 5%;
   }
   #div1{
       display: none;
       position: relative;
       left: 5%;
   }
   #talkbutton{
    font-family: 'Goldman', cursive;
    color: darkblue;
    display: block;
   }
  }



